<ion-header>
    <ion-toolbar>
        <ion-title>
            Ideas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar animated placeholder="Filter Ideas"></ion-searchbar>

    <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="sort by">
        <ion-select-option value="sd">Best</ion-select-option>
        <ion-select-option value="sa">Worst</ion-select-option>
        <ion-select-option value="da">Newest</ion-select-option>
        <ion-select-option value="ds">Oldest</ion-select-option>
    </ion-select>

    <ion-item>
        <ion-range min="0" max="10" step="0.1" color="tertiary" dualKnobs="true" [(ngModel)]="knobValues">
            <ion-label slot="start">{{knobValues.lower | number : '.1-2'}}</ion-label>
            <ion-label slot="end">{{knobValues.upper | number : '.1-2'}}</ion-label>
        </ion-range>
    </ion-item>

    <app-idea-list></app-idea-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>